
<footer class="color2 py-3" id="footer"> 
  <section class="footer">
    <!-- Réseaux sociaux -->
    <div class="social-logo">
      <a href="#" class="text-dark">
        <img src="{{ asset('assets/images/twitch-v2-svgrepo-com.svg') }}" alt="Twitch" height="40">
      </a>
      <a href="#" class="text-dark">
        <img src="{{ asset('assets/images/instagram-svgrepo-com.svg') }}" alt="Instagram" height="40">
      </a>
      <a href="#" class="text-dark">
        <img src="{{ asset('assets/images/youtube-rounded-svgrepo-com.svg') }}" alt="YouTube" height="40">
      </a>
    </div>

    <!-- Texte central -->
    <div class="footer-text text-white">
      © 2025 WHITE LION — Tous droits réservés
    </div>

    <!-- Mentions légales + logo -->
    <div class="mentions" id="mentions">
      <a href="{{ path('app_mentions_legales') }}" class="text-white">Mentions légales</a>
      <a href="{{ path('app_home') }}">
        <img src="{{ asset('assets/images/logo.png') }}" alt="Logo WhiteLion" height="70">
      </a>

    </div>
  </section>
</footer>

